[submodule "bundle/minimalist"]
	path = bundle/minimalist
	url = https://github.com/dikiaap/minimalist
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/groovyindent-unix"]
	path = bundle/groovyindent-unix
	url = git@github.com:vim-scripts/groovyindent-unix.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "bundle/AutoComplPop"]
	path = bundle/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
